
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
} 
  h2{
    
    text-align: center;
    
    height: auto;
    margin-top: 8px;
    text-decoration: underline;
    background: linear-gradient(to right, red, green,  yellow);
    
  }
  h3{
    
    text-align: center;
    
    height: 35px;
    text-decoration: underline  rgb(203, 55, 55);
    background: linear-gradient(to right, rgb(207, 61, 12), rgb(214, 176, 22),  rgb(206, 58, 16));
    
  }
  .parent1{
    display: flex;
    justify-content: center;
    
  }
  .box1{
    
    width: 600px;
    border: 4px solid brown;
    background-color: hsl(180, 72%, 39%);
    padding-left: 230px;
    border-radius: 8px;
    padding-right: 0px;
    
   
    
    
  }
  .parent{
    
    
    background-color: rgb(55, 200, 200);
    border: 3px solid #8c2727;
    border-radius:20px ;
     display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    
    


  }
  .child{
    width: 340px;
    height: 60px;
    border: 3px solid green;
    background-color: aqua;
    border-radius: 12px;
  
box-sizing: border-box;

font-size: 13px;

   
  }
  
.containar{
  
  height: 300px;
  border: 3px solid green;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  background-image: radial-gradient( blue 15%,green );
}
.item{
  width: 200px;
  height: 100px;
  border: 3px solid rgb(206, 58, 16);
  background-color: rgb(216, 216, 16);
  text-align: center;
  border-radius: 20px;
  text-decoration: underline;
  font-size: 20px;
  line-height: 30px;
  color: rgb(116, 31, 8);
 
}
.grid-parent{
  display: grid;
  grid-template-columns: auto auto auto 70px;
  grid-template-rows: 50px 70px 135px 20px;
 gap: 12px;
 border: 3px solid gray;
}

.grid-child1{
 
 grid-column: 1/5;
 grid-row: 1/2;
 background-color: rgb(146, 20, 20);
 font-size: 20px;
 color: white;
 font-weight: bold;
 text-align: center;
}

.grid-child2{

  grid-column: 1/2;
  grid-row: 2/3;
  background-color: palegreen;
  color: white;
 font-weight: bold;
 text-align: center;
 padding-top: 6px;
 font-size:25px ;
 
 }
 
.grid-child3{
  
  grid-column: 2/3;
  grid-row: 2/3;
 
  background-color: #5656f3;
  color: white;
  font-weight: bold;
  font-size:25px ;
  
 }
 
.grid-child4{
  background-color: rgb(15, 15, 241);
  grid-column: 3/4;
  grid-row: 2/3;
 
  color: white;
  font-weight: bold;
  font-size:20px ;
 
 }
 
.grid-child5{
  background-color: rgb(29, 21, 21);
  grid-column: 4/5;
  grid-row: 2/4;
 
  color: white;
  font-weight: 700px;
  font-size:15px ;
  box-sizing: border-box;
  padding: 7px;
 }
 
.grid-child6{
  
  grid-column: 1/4;
  grid-row: 3/4;
 
  background-color: rgb(218, 135, 26);
  color: white;
  font-weight: bold;
  
  font-size:25px ;
 }
 
.grid-child7{
  background-color: rgb(30, 137, 137);
  grid-column: 1/5;
  grid-row: 4/5;
  
  color: black;
  text-align: center;
  font-size: 18px;
  
 }
 